@import-normalize;
@import './fonts.css';
@import './navbar.css';
@import './home.css';
@import './story.css';
@import './shop.css';
@import './register.css';
@import './dashboard.css';
@import './greetings.css';
@import './profile.css';
@import './post.css';

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'Darker Grotesque', Arial, Helvetica, sans-serif;
    font-size: 18px;
    max-width: 1800px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'ETHLarge-ExpandedBlack', Arial, Helvetica, sans-serif;
}

p {
    padding: 0.3em 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

textarea  {
    resize: none;
}
/*loader*/
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.loader img {
    width: 200px;
    height: 200px;
}

/*Not Found page*/
.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 2em;
    max-height: 80vh;
}

/*Alert msg*/
.alert {
    font-size: 1.5em;
    text-align: center;
}

.alert--danger {
    color: red;
}

.alert--success {
    color: darkgreen;
}

/*button*/
.btn {
    width: 30%;
    max-width: 250px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

.btn:hover {
    background-color: darkred;
}

.btn--danger{
    background-color: darkred;
}

.btn--danger:hover {
    background-color: red;
}

@media (max-width: 600px) {
    .btn {
        width: 50%;
    }
}

/*utils*/
.ml {
    margin-left: 1em;
}

.mb {
    margin-bottom: 1em;
}
