.header {
    padding: 1em;
}

.nav {
    display: flex;
    justify-content: flex-end;
    font-family: 'ETHLarge-ExpandedBlack', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding-bottom: 1em;
}

.nav a {
    padding: 1rem 2rem;
}

.nav a:focus {
    color: darkred;
    font-weight: bold;
    font-size: 1.2em;
}


@media (max-width: 1025px) and (min-width: 601px) {
    .nav {
        justify-content: space-around;
    }

    .nav a {
        font-size: 0.8em;
    }
}

@media (max-width: 600px) {
    .nav a {
        font-size: 0.8em;
        padding: 0.5rem;
    }
}